<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224378444746-f4tb80spvouiln7jkah3aoifto5c7sbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224378444746-f4tb80spvouiln7jkah3aoifto5c7sbk</string>
	<key>API_KEY</key>
	<string>AIzaSyCkSx5mfvCi9XPFu2ESgzksSvBCd6XQDew</string>
	<key>GCM_SENDER_ID</key>
	<string>224378444746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>customerinfor</string>
	<key>PROJECT_ID</key>
	<string>createcustomerinfor</string>
	<key>STORAGE_BUCKET</key>
	<string>createcustomerinfor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224378444746:ios:18abdbb6dcac77638acd33</string>
</dict>
</plist>